<mat-toolbar class="d-flex justify-content-between container-fluid border border-secondary">

<a [routerLink]="">EComHub</a>

<div class="d-flex justify-content-between p-6">

    <button  mat-icon-button [mat-menu-trigger-for]="menu" *ngIf="authService.isAuthenticated()">
        <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
    
    <button mat-icon-button (click)="logout()" *ngIf="authService.isAuthenticated()">
            <mat-icon class="mat-18">logout</mat-icon>
    </button>

    
    <button [routerLink]="'/signup'" mat-icon-button *ngIf="!authService.isAuthenticated()">
        <mat-icon>person_add</mat-icon>
    </button>
    <button  [routerLink]="'/login'" mat-icon-button *ngIf="!authService.isAuthenticated()">
                <mat-icon>login</mat-icon>
    </button>
    
</div>




<mat-menu #menu="matMenu">
    <div class="border border-secondary p-3">
        <div class="pb-2 d-flex justify-content-between align-items-center">
            <span class="mr-2">Item(s): {{cart.items.length}}</span>
            <a [routerLink]="'/cart'" class="btn btn-link">View Cart</a>
        </div>
        <div *ngIf="cart.items.length" class=" border border-primary">
            <div *ngFor="let item of cart.items" class="p-2 d-flex justify-content-between align-items-center">
                {{item.product_name}} * {{item.quantity}} <span>{{item.quantity * item.price | currency:"INR"}}</span>
            </div>
            
        </div>

        <div class="p-1 mb-3 d-flex justify-content-between align-items-center border border-primary">
            Total : <span>{{getTotal(cart.items) | currency:"INR"}}</span>
        </div>

        <div class="pb-2 d-flex justify-content-between">
            <button (click)="onClearCart()" class="bg-danger  rounded-circle">  
               <!-- add clearCart  -->
                <mat-icon >remove_shopping_cart</mat-icon>
            </button>
            
            <button [routerLink]="'/cart'" class="bg-success  rounded-circle">

                <!-- goto cart -->
                <mat-icon >shopping_cart_checkout</mat-icon>
            </button>
        </div>
    </div>
   
</mat-menu>


</mat-toolbar>



