<mat-card *ngIf="product" class="product-card"
    [ngClass]="{'text-center': !fullWidthMode, 'mb-3': fullWidthMode, 'border': fullWidthMode, 'border-primary': fullWidthMode}">
    <div fxLayout="row" fxLayout.gt-xs="column" fxLayoutAlign="space-around center">
        <img class="mb-1 mx-auto" [class.h-[200px]]="!fullWidthMode" [class.h-[360px]]="fullWidthMode" [src]=""
            alt="Product Image" />
        <div fxFlex="50%" [class.px-8]="fullWidthMode" fxLayout="column" fxLayoutAlign="start stretch">
            <mat-card-header>
                <mat-card-title>{{ product.product_name }}</mat-card-title>
                <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
            </mat-card-header>
            <div class="mat-card-content">
                <p class="font-weight-bold">Price: {{ product.price | currency : "INR"}}</p>
                <mat-form-field appearance="fill">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" [(ngModel)]="quantity" min="0" />
                </mat-form-field>
            </div>
            <div class="mat-card-actions">
                <button mat-button class="border border-primary" (click)="onAddToCart()">Add to cart</button>
            </div>
        </div>
    </div>
</mat-card>


